/* General Styles*/
body {
    min-height: 200vh;
    display: flex;
    flex-direction: column;
  font-family: lato,sans-serif;}

 /* Rest Styles*/
 *{
  padding:0;
margin: 0;
box-sizing: border-box;}

/* text styling*/


/* styling the title*/
#logo {
font-size: 32px;
font-family: Lucida Handwriting , sans-serif;
margin-top: 50px;
color: black;
letter-spacing: 3px;
line-height: 1.5;
}
/*Header Styles*/
nav {
position:absolute;
background-color: white;
width: 100%;
left: 0;
padding: 0 1rem;
box-shadow: 0 2px 2px #3a3a3a;
display: none;
top: 100%
}

header {
  z-index: 99;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  }

header a {text-decoration: none;
color:inherit;}

/*navbar Styles*/

  #menu {
    list-style-type: none;
    letter-spacing: 4px;
}
#menu > li {
    margin-bottom: 1rem;
    font-size: 16px;
    color: rgb(14, 13, 13);
    text-decoration: none;
    margin-right: 15px;
    margin-left: -15px;

  }

   
.nav .dropdown:hover a:hover {
  background-color: #ca9999;
}
 
.dropdown-content {
  display: none;
  position: fixed;
  color: #73736f;
  background-color:  white;
  min-width: 160px;
  box-shadow: 0px 8px 10px 10px rgba(0,0,0,0.2);
  z-index: 1;

}
  
  .dropdown-content a:hover {
    color:#ca9999;
    padding: 10px 10px;
    text-decoration: none;
    text-align:center;
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
/*nav toggle*/
#nav-toggle:checked~nav { display: block;}
#nav-toggle {display: none;}
.nav-toggle-lable {font-size: 2rem;
  margin-left:20px; }

/*Main content*/
main {
    /*This pushes the footer down*/
    flex: 1 0 auto;
    background-color: #fbf6f3;
    margin-top: 47px;
}
/* hero section*/
#her0 {
  height: 600px;
  width: 100%;
  background: url("assets/images/ClearwaterBeach-59cd9d74685fbe0011577afd.jpg") no-repeat center center/cover;
  position: absolute;
}
#cover-text {
 font-size: 130%;
 position: absolute;
 top: 30px;
 min-height: 200px;
 padding-top: 4px;
 padding-left: 10px;
}
#cover-text > h2, #cover-text > h3 {
  color: #73736f;
}


/*Footer*/
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
nav {
  display: block;
  position: relative;
  box-shadow: none;
  width: fit-content;
  padding-right: 1rem ;
  Top: 40px; 
  Display: Fixed;
  left: 5%;
}

#menu {display: flex;}
#menu > li {padding-left: 1rem; }

.nav-toggle-lable {
  display: none ;
}

#logo {
  font-size: 180%;
  line-height: 75px;
  text-align: center;
  left:10%

}
#cover-text {
  width: 300px;
  left:50px;
}
}
  /*main section 2 with text */
  #circle-cover-bg {
background: fixed;
height: 90vw ;
width: 90vw;
margin-bottom:20px ;
border: 50%;
max-width: 300px;
max-height: 300px; 
}
#begining-image {
  display:flex;
  align-items: center;
  justify-content: center;
}

  #first-step,
  #second-step {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 
  #second-step > div{text-align: end;
    align-self: flex-end;}





/* Media query: laptops and desktops (992px and up)*/
@media screen and (min-width: 992px) {
  nav {
    display: block;
    box-shadow: none;
    padding-right: 1rem ;
    Top: 40px; 
    Display: Fixed;
    left: 55%;
    position: relative;
    width: fit-content;
  }
  
  #menu {display: flex;}
  #menu a:hover {border-bottom: 1px solid #ca9999 ;}
  #menu > li {padding-left: 1rem; }
  
  .nav-toggle-lable {
    display: none ;
  }
  
  #logo {
    font-size: 280%;
    line-height: 75px;
    margin-left:-300px;

  }
  #beginning { display: flex;
  flex-direction: row;}
  #beginning > div {flex: 1;}

  #begining-image{ order: 0;}

  #second-step [order: 1;]

  #frist-step > div { align-self: flex-start;}

  #second-step > div{ align-self: flex-end;}

  
  }